[Unit]
Description=HyprRestore Snapshot Save

[Service]
type=oneshot
ExecStart=%h/.local/bin/hyprrestore-save
Restart=on-failure

[Install]
WantedBy=default.target